<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="MidasTransferWorker" Language="1033" Version="1.0.0.0" Manufacturer="MAM Software" UpgradeCode="PUT-GUID-HERE">
	<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

	<MediaTemplate />

	<Property Id="WIXUI_INSTALLDIR" Value="MIDASFOLDER" />

	<!-- Service account properties: default to LocalSystem -->
	<Property Id="SERVICEACCOUNT" Value="LocalSystem" />
	<Property Id="SERVICEPASSWORD" Value="" />

	<Directory Id="TARGETDIR" Name="SourceDir">
	  <Directory Id="ProgramFilesFolder">
		<Directory Id="INSTALLFOLDER" Name="MAM Software">
		  <Directory Id="MIDASFOLDER" Name="MidasTransferService" />
		</Directory>
	  </Directory>
	</Directory>

	<!-- Service executable component (explicitly included so we can install the service) -->
	<DirectoryRef Id="MIDASFOLDER">
	  <Component Id="ServiceExeComponent" Guid="*">
		<File Id="ServiceExeFile" Source="$(var.PublishedFolder)\MidasTransferWorker.exe" KeyPath="yes" />
		<CreateFolder>
		  <util:PermissionEx User="NT AUTHORITY\\SYSTEM" GenericAll="yes" />
		  <util:PermissionEx User="NT AUTHORITY\\NETWORK SERVICE" GenericAll="yes" />
		  <util:PermissionEx User="Users" Read="yes" Execute="yes" />
		</CreateFolder>

		<ServiceInstall Id="ServiceInstaller"
						Type="ownProcess"
						Name="MidasTransferWorker"
						DisplayName="Midas Transfer Worker"
						Description="Automated Mavis XML SFTP transfer service"
						Start="auto"
						ErrorControl="normal"
						Account="[SERVICEACCOUNT]"
						Password="[SERVICEPASSWORD]" />

		<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="MidasTransferWorker" Wait="yes" />
	  </Component>

	  <Component Id="AppSettingsComponent" Guid="*">
		<File Id="AppSettingsFile" Source="$(var.PublishedFolder)\appsettings.json" />
	  </Component>
	</DirectoryRef>

	<!-- ComponentGroupRef generated by heat.exe (harvest publish folder) -->
	<Fragment>
	  <ComponentGroupRef Id="AppComponents" />
	</Fragment>

	<!-- UI: use Minimal UI so installer can ask for install folder and show progress -->
	<UIRef Id="WixUI_Minimal" />

	<Feature Id="ProductFeature" Title="MidasTransferWorker" Level="1">
	  <ComponentRef Id="ServiceExeComponent" />
	  <ComponentRef Id="AppSettingsComponent" />
	  <ComponentGroupRef Id="AppComponents" />
	</Feature>

	<!-- Create EventLog source via Util extension -->
	<util:EventSource Name="MidasTransferWorker" Log="Application" />

  </Product>
</Wix>
